<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:name="com.couplesguide.postures.IntimacyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntimacyGuide">
        <activity
            android:name="com.couplesguide.postures.LectureListActivity"
            android:exported="false"
            android:parentActivityName="com.couplesguide.postures.MainActivity" />
        <activity
            android:name="com.couplesguide.postures.BookTopicsActivity"
            android:exported="false"
            android:parentActivityName="com.couplesguide.postures.LectureListActivity" />
        <activity
            android:name="com.couplesguide.postures.ChapterDetailActivity"
            android:exported="false"
            android:parentActivityName="com.couplesguide.postures.BookTopicsActivity" />
        <activity
            android:name="com.couplesguide.postures.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
